[project]
name = "repl-nix-workspace"
version = "0.1.0"
description = "Add your description here"
requires-python = ">=3.11"
dependencies = [
    "flask>=3.1.2",
    "gunicorn>=25.1.0",
    "pillow>=12.1.1",
    "reportlab>=4.4.10",
    "pymupdf>=1.24.0",
]
